---
import B77 from "./icons/B77.astro"
import Github from "./icons/Github.astro"
import Instagram from "./icons/Instagram.astro"
import Mail from "./icons/Mail.astro"
import Linkedin from "./icons/Linkedin.astro"
---
<section class="w-full max-w-2xl">
    <div class="flex gap-4">
        <div>
            <B77 />
        </div>
        <div class="max-w-2xl flex flex-col gap-4">
            <h1 class="font-bold text-4xl balanced">Desarrollador Web</h1>
            <p class="text-light text-base">Soy Bruno Munné, desarrollador web residido en Argentina. Apasionado a la programación para crear soluciones óptimas y funcionales.</p>
            <div class="flex items-center gap-2">
                <div class="w-4 h-4 bg-[#62C06B] rounded-full"></div>
                <span class="text-sm">Disponible para nuevos proyectos</span>
            </div>
            <div class="flex gap-4">
                <Github />
                <Instagram />
                <Mail />
                <Linkedin />
            </div>
        </div>
    </div>
</section>