---
import B77 from "./icons/B77.astro"
import Github from "./icons/Github.astro"
import Instagram from "./icons/Instagram.astro"
import Mail from "./icons/Mail.astro"
import Linkedin from "./icons/Linkedin.astro"
---

<div class="flex w-full">
    <a href="/" class="pointer-events-auto bg-primary-500 overflow-hidden mr-16 mt-28 rounded-lg" aria-label="Home">
        <B77 />
    </a>
    <div class="max-w-2xl">
        <h1 class="text-secondary-900 dark:text-secondary-50 balanced tracking-tight font-bold mt-7 sm:mt-24 sm:text-5xl text-4xl">Desarrollador Web</h1>
        <p class="dark:text-secondary-200 text-secondary-700 mt-6 text-base">Soy Bruno Munné, desarrollador web residido en Argentina. Apasionado a la programación para crear soluciones óptimas y funcionales.</p>
        <div class="flex gap-6 mt-6">
            <a href="/t" class="-m-1 p-1 group" target="_blank" aria-label="Chat on Telegram">
                <Github /><span class="sr-only">Chat on Telegram (Opens in a new window) </span>
            </a>
            <a href="/t" class="-m-1 p-1 group" target="_blank" aria-label="Chat on Telegram">
                <Instagram /><span class="sr-only">Chat on Telegram (Opens in a new window) </span>
            </a>
            <a href="/t" class="-m-1 p-1 group" target="_blank" aria-label="Chat on Telegram">
                <Mail /><span class="sr-only">Chat on Telegram (Opens in a new window) </span>
            </a>
            <a href="/t" class="-m-1 p-1 group" target="_blank" aria-label="Chat on Telegram">
                <Linkedin /><span class="sr-only">Chat on Telegram (Opens in a new window) </span>
            </a>
        </div>
    </div>
</div>
