<section class="w-full mt-28">
    <h2 class="font-semibold text-lg balanced">Proyectos</h2>
    <ul class="gap-x-12 gap-y-16 grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2" role="list">
        <li>
            <p class="flex items-center gap-2 text-sm">
                <span>|</span>
                Mercado Libre
            </p>
            <h3 class="font-semibold text-base mt-2">Challenge MELI</h3>
            <img class="mt-2" src="/images/Mercado_libre.png" alt="Proyecto Challenge MELI">
            <p class="text-sm mt-2">Crear paginas con los lineamientos de diseño, crear nuestra API para buscar una lista de productos y un producto específico</p>
            <a class="font-medium text-sm mt-2">Ir al proyecto<span> > </span></a>
        </li>
        <li>
            <p class="flex items-center gap-2 text-sm">
                <span>|</span>
                Mercado Libre
            </p>
            <h3 class="font-semibold text-base mt-2">Challenge MELI</h3>
            <img class="mt-2" src="/images/Mercado_libre.png" alt="Proyecto Challenge MELI">
            <p class="text-sm mt-2">Crear paginas con los lineamientos de diseño, crear nuestra API para buscar una lista de productos y un producto específico</p>
            <a class="font-medium text-sm mt-2">Ir al proyecto<span> > </span></a>
        </li>
        <li>
            <p class="flex items-center gap-2 text-sm">
                <span>|</span>
                Mercado Libre
            </p>
            <h3 class="font-semibold text-base mt-2">Challenge MELI</h3>
            <img class="mt-2" src="/images/Mercado_libre.png" alt="Proyecto Challenge MELI">
            <p class="text-sm mt-2">Crear paginas con los lineamientos de diseño, crear nuestra API para buscar una lista de productos y un producto específico</p>
            <a class="font-medium text-sm mt-2">Ir al proyecto<span> > </span></a>
        </li>

    </ul>
</section>